.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #1f293a;
}

.registerBox {
  width: 90%; /* Adjust the width to cover more space */
  max-width: 500px; /* Ensure the form doesn't become too wide */
  padding: 40px;
  background: #000;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.registerBox form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerBox h2 {
  font-size: 2.5em;
  color: #00fffc;
  margin-bottom: 30px;
}

.inputBox {
  position: relative;
  width: 80%;
  margin: 20px 0;
}

.inputBox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s;
}

.inputBox input:focus,
.inputBox input:valid {
  border-color: #00fffc;
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease;
  background-color: #000;
  padding: 0 5px;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -10px;
  font-size: 0.8em;
  color: #00fffc;
}

.btn {
  width: 50%;
  height: 50px;
  border-radius: 45px;
  background: #00fffc;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #00d0d0;
}
