/* Navbar styling */
.welcomeNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust spacing */
  padding: 1rem 2rem;
  background-color: #1f2a48;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: auto; /* Allow horizontal scrolling */
  height: 70px;
  white-space: nowrap; 
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo img {
  width: 50px; /* Default size for smaller screens */
  height: 50px; /* Default size for smaller screens */
  border-radius: 50%; /* Make the logo rounded */
}

@media (min-width: 1024px) {
  .logo img {
    width: 80px; /* Bigger size for desktops */
    height: 80px; /* Bigger size for desktops */
  }
}

/* Navbar links styling */
.welcomeNavLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0 auto; /* Center the links */
  padding: 0;
}

/* List item styling */
.welcomeNavLinks li {
  margin: 0 0.5rem;
}

/* Link styling */
.welcomeNavLinks a {
  text-decoration: none;
  color: #f086af;
  font-weight: 900;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for links */
.welcomeNavLinks a:hover {
  background-color: rgba(0, 170, 255, 0.2);
}

/* Active link styling */
.welcomeNavLinks a:active {
  color: #00aaff;
}

/* Add padding to the right end */
.welcomeNavbar::after {
  content: '';
  flex: 0 0 2rem;
}
