/* styles/Footer.module.css */

.footer {
  width: 100%;
  background: #1f2a48;
  color: #f086af;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  
  align-items: center;
  z-index: -11;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legalLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legalLinks {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.legalLinkItem {
  display: inline;
}

.legalLink {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.legalLink:hover {
  text-decoration: underline;
}

.legalCopyright {
  margin-top: 5px;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLink {
  display: inline-block;
}

.socialIcon {
  width: 24px;
  height: 24px;
}
