/* Skeleton.module.css */
.skeleton {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.1) 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 4px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  .text {
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .circular {
    border-radius: 50%;
  }
  
  .rectangular {
    border-radius: 4px;
  }