/* styles/globals.css */

body {
    color: #777;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: #f0f2f5; 
}

#layout {
    display: flex;
    height: 100vh;
}

#menu .logo img {
    width: 60px;
    height: auto;
    border-radius: 40px;
    display: block;
    margin: 10px auto;
}

#menu .logo {
    text-decoration: none;
    color: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#menu .logo:hover img {
    transition: box-shadow 0.3s ease-in-out;
}

#menu .logo:hover {
    background: none;
}

#menu {
    width: 200px;
    transition: width 0.3s ease;
    background: #1f2a48;
    color: white;
    overflow: hidden;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

#menu.collapsed {
    width: 60px;
}

#menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    position: relative;
}

#menu a:hover {
    background: #2e3a57;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

#menu a .icon {
    margin-right: 10px;
}

#menu a .icon,
#menu a .text {
    transition: transform 0.3s ease;
}

#menu a:hover .icon,
#menu a:hover .text {
    transform: scale(1.1); 
}

#menu.collapsed a .text {
    display: none;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    height: 100vh; 
    overflow-y: auto; 
    background: #1a2b6a; 
}

#menu.collapsed + .content {
    /* margin-left: 60px;  */
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.bottom-nav {
    display: none;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1f2a48; 
    color: white;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

.bottom-nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.bottom-nav a:hover {
    background: #2e3a57;
}

@media screen and (max-width: 768px) {
    #layout {
        flex-direction: column;
    }

    #menu {
        display: none;
    }

    #menu.collapsed {
        display: none;
    }

    .content {

    }

    .bottom-nav {
        display: flex;
    }
}

/* ContentRootLayout styles */
.content-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.content-navbar {
    background-color: #030945; 
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    transition: left 0.3s ease, width 0.3s ease; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: center;
}

#menu.collapsed + .content-layout .content-navbar {
    left: 60px; 
}

.content-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 1rem;
}

.content-navbar ul li {
    display: flex;
    align-items: center;
}

.content-navbar ul li a {
    text-decoration: none;
    color: rgb(6, 222, 211);
    transition: color 0.3s ease, box-shadow 0.3s ease;
    padding: 0.3em;
}

.content-navbar ul li a:hover {
    color: #eab9c7;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

.content-main {
    flex-grow: 1;
    overflow-y: auto;

    background: #ffffff;
}
